body {
    background: #e2e1e0;
}

.card{
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: %100;
    margin: 1rem;
    position: relative;

}

.card-shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }